* {
  box-sizing: border-box;
}

body, html, section, main, div, aside {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  text-align:
}

header {
  background-color: #92E0E5;
  height: 55px;
  position: relative;
}

.dog-face-button {
  background-color: #92E0E5;
  background-image: url(assets/dog-icon.svg);
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  left: 30px;
  top:10px;
  height: 35px;
  width: 35px;
}

.header-nav {
  float: right;
  line-height: 55px;
  margin-right: 30px;
}

.top-nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
}

.top-section {
  position: relative;
  background-image: url(assets/park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

h2 {
  font-size: 26px;
  margin: 0;
  padding-top: 40px;
}

.top-section-container{
  height: 500px;
  width:325px;
  text-align: center;
  margin: auto;
}

.heading-pic {
  height: 300px;
  width: 300px;
  border: solid 4px #3F8DA7;
  border-radius: 100%;
  margin-top: 35px;
}

.what-are-dogs-button {
  background-color: #FFFFFF;
  color: #3F8DA7;
  border: solid 4px #3F8DA7;
  font: inherit;
  font-size: 18px;
  width: 150px;
  margin-top: 15px;
  padding: 5px;
}

.article-container {
  height: 500px;
  width: 100%;
  text-align: center;
}

.dog-article {
  height: 400px;
  width: 30%;
  display:inline-block;
  text-align: center;
  margin:10px;
  vertical-align: top;
}

.article-pic {
  height: 200px;
  width: 200px;
  border: solid 2px #3F8DA7;
  border-radius: 100%;
}

.article-button {
  background-color: #FFFFFF;
  color: #3F8DA7;
  border: solid 3px #3F8DA7;
  font: inherit;
  font-size: 14px;
  width: 100px;
}

.article-button:hover {
  background-color: #3F8DA7;
  color: #FFFFFF;
}

footer {
  height: 200px;
  background-color: #3F8DA7;
  display:block;
}

.footer-text {
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}

.social-media-nav {
  text-align: center;
  margin: 25px 0;
}

.media-link {
  padding: 0 25px;
}

.git-hub-container {
  text-align: center;
}

.github-link {
  color: #FFFFFF;
}
